<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
    					http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <servlet>
  <servlet-name>RenderRDF</servlet-name>
  <servlet-class>net.rhizomik.redefer.rdf2svg.RenderRDF</servlet-class>
  <init-param>
   <param-name>dotPath</param-name>
   <param-value>/usr/bin/dot</param-value>
  </init-param>
  <init-param>
   <param-name>maxlength</param-name>
   <param-value>250000</param-value>
  </init-param>
 </servlet>
 <servlet>
  <servlet-name>RDF2HTMLRDFa</servlet-name>
  <servlet-class>net.rhizomik.redefer.rdf2html.RDF2HTMLServlet</servlet-class>
  <init-param>
   <param-name>xsl</param-name>
   <param-value>xsl/rdf2html.xsl</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>RDF2HTML</servlet-name>
  <servlet-class>net.rhizomik.redefer.rdf2html.RDF2HTMLServlet</servlet-class>
  <init-param>
   <param-name>xsl</param-name>
   <param-value>xsl/rdf2html.nordfa.xsl</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>RDF2RDFA</servlet-name>
  <servlet-class>net.rhizomik.redefer.rdf2html.RDF2HTMLServlet</servlet-class>
  <init-param>
   <param-name>xsl</param-name>
   <param-value>xsl/rdf2rdfa.xsl</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>RDF2Microdata</servlet-name>
  <servlet-class>net.rhizomik.redefer.rdf2html.RDF2HTMLServlet</servlet-class>
  <init-param>
   <param-name>xsl</param-name>
   <param-value>xsl/rdf2microdata.xsl</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>IsIsomorphic</servlet-name>
  <servlet-class>net.rhizomik.redefer.util.IsIsomorphicServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>XSD2OWLServlet</servlet-name>
  <servlet-class>net.rhizomik.redefer.xsd2owl.XSD2OWLServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>XML2RDFServlet</servlet-name>
  <servlet-class>net.rhizomik.redefer.xml2rdf.XML2RDFServlet</servlet-class>
  <init-param>
  	<param-name>config</param-name>
	<param-value>redefercfg.rdf</param-value>
  </init-param>
  <!-- Parameters for DB version
  <init-param>
   <param-name>user</param-name>
   <param-value>redefer</param-value>
  </init-param>
  <init-param>
   <param-name>passwd</param-name>
   <param-value>passwd</param-value>
  </init-param>
  <init-param>
   <param-name>db</param-name>
   <param-value>jdbc:mysql://localhost/redefer?autoReconnect=true</param-value>
  </init-param>
  <init-param>
   <param-name>driver</param-name>
   <param-value>com.mysql.jdbc.Driver</param-value>
  </init-param>
  <init-param>
   <param-name>type</param-name>
   <param-value>MySQL</param-value>
  </init-param-->
  <load-on-startup>10</load-on-startup>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>DDEX2RDFServlet</display-name>
 	<servlet-name>DDEX2RDFServlet</servlet-name>
 	<servlet-class>com.sonydadc.ddex2rdf.DDEX2RDFServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>RenderRDF</servlet-name>
  <url-pattern>/render</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RDF2HTML</servlet-name>
  <url-pattern>/rdf2html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RDF2HTMLRDFa</servlet-name>
  <url-pattern>/rdf2htmlrdfa</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RDF2RDFA</servlet-name>
  <url-pattern>/rdf2rdfa</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RDF2Microdata</servlet-name>
  <url-pattern>/rdf2microdata</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>IsIsomorphic</servlet-name>
  <url-pattern>/isomorphic</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>XSD2OWLServlet</servlet-name>
  <url-pattern>/xsd2owl</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>XML2RDFServlet</servlet-name>
  <url-pattern>/xml2rdf</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>DDEX2RDFServlet</servlet-name>
 	<url-pattern>/ddex2rdf</url-pattern>
 </servlet-mapping>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
